<div class="card" card-genre="{{Genre}}" card-rated="{{Rated}}" card-metascore="{{Metascore}}">
  <div class="card-contents">
    <div class="card-image-container">
		<a href="http://localhost:3000/{{Title}}/info">
	      <img src="{{Poster}}" alt="{{Title}}" >
		</a>
    </div>
    <div class="card-info-container">
      <span class="card-title">{{Title}}</span>
      <span class="card-year">{{Year}}</span>
    </div>
  </div>
</div>
