<div class="card">
<<<<<<< HEAD
  <img class="card-img-top" src="{{Poster}}" alt="{{Title}}">
  <div class="card-body">
    <span class="card-title">{{Title}}</span>
    <span class="card-genre">{{Genre}}</span>
=======
  <div class="card-contents">
    <div class="card-image-container">
      <img src="{{moviePosterURL}}" alt="{{title}}">
    </div>
    <div class="card-info-container">
      <span class="card-title">{{title}}</span>
      <span class="card-genre">({{genre}})</span>
    </div>
>>>>>>> b03ef05e3bb9a7939d9acc18854003ebaa491409
  </div>
</div>
