<div id="info-container">
  <img id="info-poster-img" src="{{Poster}}">

  <div id="info-detail">
    <h3>
      {{Title}}
      <small class="text-muted">({{Year}})</small>
      <small class="text-muted">{{Rated}}</small>
    </h3>
    <p id="info-plot">{{Plot}}</p>

    <p><strong>Actors: </strong>{{Actors}}</p>
    <p><strong>Directors: </strong>{{Director}}</p>
    <p><strong>Writers: </strong>{{Writer}}</p>
    <p><small><strong>Runtime: </strong>{{Runtime}} <strong>Released: </strong>{{Released}}</strong></p>

    <img id="info-imdb-logo" src="https://m.media-amazon.com/images/G/01/imdbpro/help/imdb-logo._CB1572911370_.png">
    <span id="info-imdb-rating">{{imdbRating}}<small>/10</small></span>
    <span id="info-meta-rating">{{Metascore}}</span>
{{!--     <img id="info-tomato-logo" src="https://upload.wikimedia.org/wikipedia/commons/5/5b/Rotten_Tomatoes.svg">
    <span id="info-imdb-rating">{{Ratings}}</span> --}}
  </div>
</div>